<div class="card p-5 m-5">
    <input required class="input-dark">
    <input required class="input-dark" type="number">
</div>

<div class="card p-5 m-5">
    <img src="https://picsum.photos/200/300" alt="image small card 100px" height="100px" class="small-img">
    <a href="https://picsum.photos/200/300" rel="external">Link</a>
    <button class="btn-primary">ClickME!</button>
    <button class="btn btn-secondary">ClickME!</button>

    <a class="btn btn-secondary" href="https://picsum.photos/200/300">Link</a>
    <a class="small btn-secondary" href="https://picsum.photos/200/300">Link</a>

</div>

<div class="card p-5 m-5">
    <p class="big-text">Lorem ipsum dolor sit amet. <br> Lorem ipsum dolor sit amet.</p>

    <input type="text" class="input-darkplace" placeholder="This is text">
</div>