<div class="card p-5 m-5">
    <a href="#test">ClickME!</a>
</div>

<div id="test" class="card p-5 m-5">
    Якір
</div>

<div id="test" class="card p-5 m-5">
    <a href="google.com" class="link">PCLink</a>
</div>

<div id="test" class="card p-5 m-5">
    <input>
</div>

<div class="card focuswithin m-5 p-5">
    <input>
</div>

<div lang="fr" class="card m-5 p-5">
    bonjour
</div>

<div lang="en" class="card m-5 p-5">
    hello
</div>