<div class="card p-5 m-5">
    <a href="#test">ClickME!</a>
</div>

<div id="test" class="card p-5 m-5">
    Якір
</div>

<div id="test" class="card p-5 m-5">
    <a href="google.com" class="link">PCLink</a>
</div>

<div id="test" class="card p-5 m-5">
    <input>
</div>

<div class="card focuswithin m-5 p-5">
    <input>
</div>

<div lang="fr" class="card m-5 p-5">
    bonjour
</div>

<div lang="en" class="card m-5 p-5">
    <input type="">
    <span>hello</span>
    <button>Test button</button>
</div>

<div lang="en" class="m-5 p-5">
    <button>Test button</button>
    <button disabled>Disabled button</button>
</div>

<div lang="en" class="card m-5 p-5">
    <input type="" class="inp" disabled>
</div>

<div lang="en" class="card m-5 p-5">
    <input type="" class="inp" readonly>


    <div class="mt-5">
        <div>
            <input type="checkbox" checked>
            <span>1st</span>
        </div>
        <div>
            <input type="checkbox">
            <span>2nd</span>
        </div>
    </div>
</div>

<div class="card m-5 p-5">
    <input class="valid" type="email" required>
    <input class="valid" type="email">
</div>

<div class="card m-5 p-5">
    <div>
        <input class="validopt" type="email" placeholder="text">
    </div>

    <div class="mt-5">
        <input min="10" max="20" class="number" type="number">
    </div>
</div>