#test:target {
    color: red;
}

.link:link {
    color: red;
}

.link:hover {
    color: green;
}

.link:active {
    color: purple;
}

input {
    background: gray;
}

input:focus {
    background: red;
}

.focuswithin:focus-within {
    background: rebeccapurple;
}

.card:lang(en) {
    background: blue;
}

.card:lang(fr) {
    background: green;
}

button {
    background-color: greenyellow;
}

button:enabled {
    background-color: green;
}

button:disabled {
    color: red;
    background-color: aqua;
}

.inp:read-write {
    background-color: blue;
}

.inp:read-only {
    background-color: red;
}

input[type='checkbox']:checked~span {
    background: red;
}

.valid:valid {
    background-color: yellow;
}

.valid:invalid {
    background-color: goldenrod;
}

.validopt:optional {
    background: green;
}

.number:focus {
    background-color: gray;
}

.number:out-of-range {
    background-color: red;
}

.number:in-range {
    background-color: green;
}

input:placeholder-shown {
    background-color: pink;
}